@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    background-color: #0951b69d;
    font-family: 'Lato', sans-serif;                                           
    padding: 20px;
    color: #f9f2ec;
  }

  #title{
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 0;
  }
  
  p{
    color: #fff;
    font-size: 15px;
    margin-bottom: 25px;
  }

  h1, p {
    text-align: center;
  }
  
  .form{
    width: 80%;
    background-color: #083f82;
    padding: 20px;
    max-width: 500px;
    border-radius: 13px;
    margin: 0 auto;
    opacity:0.9;
    box-shadow: 0 -5px 3px -3px black, 0 5px 3px -3px black;
  }
  
  label {
    font-size:20px;
    display: block;
    margin: 0.5rem 0;
  }
  
  #dropdown{
    width:100%;
    padding:5px;
  }
  
  #number,#email,#name{
    margin:0;
    width: 100%;
    min-height: 2em;
    padding:0;
    position:relative;
    display:inline-block;
  }
    
  .inline{
    position:relative;
    display:inline-block;
  }
  
  button{
    border-radius:10px;
    cursor: pointer;
    width:50%;
    padding:10px;
    border: none;
    display: block;
    margin: 0 auto;
    font-size: 15px;
    font-weight: 700;
    color: #1337ae;
    text-transform: uppercase;
    box-shadow: 3px 3px 0px 3px #657ddc;
  }
  
  button:hover{
    background-color: #03244f;
    color: #f9f2ec;
  }

  button:active{
    background-color: #03244f;
    box-shadow: 0 3px #316db2;
    transform: translateY(4px);
  }

  textarea{
    padding: 10px;
  }

  textarea.input{
    width: 95%;
    resize: vertical;
  }
